@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.forgotPassword {
    font-family: 'Roboto', sans-serif;
    margin: 50px auto;
    display: flex;
    align-items: center;
    width: 832px;
    height: 395px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.75);
}

.forgotPassword-content {
    padding: 0 50px;
}

.forgotPassword-title {
    font-size: 24px;
}

.forgotPassword-content>p {
    font-size: 14px;
}

.forgotPassword-form {
    margin-top: 20px;
}

.forgotPassword-content>a {
    width: 100%;
    color: #646464;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}